body {
    background-color: white;
}

header {
    text-align:  center;
    background-color: #ebe4f1;
    border-bottom: 5px;
    border-color: #59575c;
    border-style: ridge;
    

}
h1 {
    color:blaCK;
}

.input-labels {
    color:black;
}

#image-inputs {
    display: flex;
    flex: auto;
    justify-content: center;
}

/*
#friends-header {
    font-family: 'Permanent Marker', cursive;
}
*/

#past-box-container {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    align-items: baseline;
    
}

.meme-box {
    height: 300px;
    width : 500px;
    border-style: ridge;
    border: 5px;
    margin: auto;

}

.meme-class:hover {
filter: brightness(0%);
visibility: visible;
}

.meme-class {
    position: relative;
    height: 400px;
    width: auto;
}

.upper-text-display {
top: 0;
}

.lower-text-display {
bottom: 0;
}

.delete-message:hover {
    visibility: visible;
}


.delete-message {
    top: 50%;
    width: 100%;
    position: absolute ;
    text-align: center;
    font-size: xx-large;
    background-color:black;
    color: white;
    visibility: hidden;
}




.img-txt {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size:x-large ;
    color: white;
    font-family: 'Permanent Marker', cursive;
    margin: auto;
}


.img-display {
    height: 400px;
    width: auto;
    
}
